@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.career-highlights {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ff9800;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    animation: fadeIn 1s ease-in-out;
    position: relative;
}

.career-highlights::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #ff9800, white, #008000);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.career-highlights:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.career-highlights h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #ff9800;
    font-weight: 600;
    animation: slideIn 1s ease-in-out;
}

.career-highlights ul {
    list-style-type: none;
    padding: 0;
    animation: fadeIn 1s ease-in-out;
}

.career-highlights li {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

.career-highlights li:before {
    content: '•';
    color: #ff9800;
    font-size: 2em;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
