@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('./assets/gettyimages-1434940863-612x612.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.App {
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Adding a dark overlay for better readability */
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}

.biography, .career-highlights, .achievements, .gallery {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.gallery .images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 30%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
